Hotel General Manager Multi V9.json
{
  "name": "Hotel General Manager Multi V9",
  "nodes": [
    {
      "parameters": {
        "toolDescription": "Use for HR facts: schedules, shifts, attendance, positions, and compensation. Return only verified facts and explicit data gaps.",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the hotel HR Operations Manager.\n\nAVAILABLE SOURCES:\n- tool_hotel_personal_schedule: schedules, shifts, attendance.\n- tool_hotel_personal_salary: positions and compensation.\n- Forecast_Tool: occupancy and bed nights by date — use to align staffing with demand.\n\nRULES:\n1. Never invent employees, shifts, or compensation.\n2. Cross-reference forecast occupancy with scheduled staff to flag understaffing risk.\n3. If data is missing, explicitly mark it as DATA_GAP.\n4. Do not use HTML.\n5. Return this contract:\nDOMAIN: HR\nDATE_SCOPE: <date_or_period>\nFACTS:\n- ...\nDATA_GAPS:\n- ...\nRECOMMENDED_ACTIONS:\n- ..."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -2176,
        3120
      ],
      "id": "a2d47e2b-cccc-4df8-8e06-8bc0ac281802",
      "name": "HR Manager"
    },
    {
      "parameters": {
        "toolDescription": "Use for marketing and commercial context. If there is no connected reputation or campaign source, report a data gap instead of guessing.",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the hotel Marketing and Revenue Insight Manager.\n\nAVAILABLE SOURCES:\n- Forecast_Tool: demand and commercial context by date.\n\nMISSING SOURCES:\n- No connected live source for Booking or Google reviews.\n- No connected live source for Google Ads or Meta ROI.\n\nRULES:\n1. Never simulate reviews, ratings, campaign results, or ROI.\n2. If a request depends on an unconnected source, return DATA_GAP.\n3. Do not use HTML.\n4. Return this contract:\nDOMAIN: MARKETING\nDATE_SCOPE: <date_or_period>\nFACTS:\n- ...\nDATA_GAPS:\n- ...\nRECOMMENDED_ACTIONS:\n- ..."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -2752,
        3120
      ],
      "id": "7f85298a-273e-4ce6-aeb8-d6457b8e0a15",
      "name": "Marketing Manager"
    },
    {
      "parameters": {
        "toolDescription": "Operational front office and reservation facts: occupancy, ADR, RevPAR, free rooms, arrivals, departures, balances, and OOS risk.",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the hotel Front Office and Reservations Manager.\n\nAVAILABLE SOURCES:\n- Forecast_Tool: occupancy, ADR, RevPAR, bed nights by exact date.\n- reservations_tool: reservations, guests, amounts, notes.\n- reception_tool: room, departure, balance, and reception operations data.\n\nRULES:\n1. Always use exact dates in dd.MM.yyyy.\n2. Never invent rooms, guests, or percentages.\n3. If data is missing, return DATA_GAP.\n4. Do not use HTML.\n5. Return this contract:\nDOMAIN: FRONT_OFFICE\nDATE_SCOPE: <date_or_period>\nFACTS:\n- ...\nDATA_GAPS:\n- ...\nRECOMMENDED_ACTIONS:\n- ..."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -2464,
        3120
      ],
      "id": "76796467-93de-48cb-8f75-b24b99ad9cc7",
      "name": "Front Office Manager"
    },
    {
      "parameters": {
        "toolDescription": "Financial facts for expenses, payments, bar revenue, and accounting records. Return only verified amounts, currency, and period.",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the hotel Accounting Controller.\n\nAVAILABLE SOURCES:\n- tool_hotel_expenses: invoices and expense records.\n- tool_hotel_payments: reception payments.\n- tool_hotel_income_bar: bar revenue.\n\nRULES:\n1. Never invent amounts, currency, or counterparties.\n2. Include currency and period when possible.\n3. If data is missing, return DATA_GAP.\n4. Do not use HTML.\n5. IMPORTANT: Only fetch tools relevant to the query. For daily status queries, focus on TODAY or the most recent entries only. Do NOT load all historical data.\n6. If the query is a general status check (not a specific financial query), return a brief summary of the most recent available data — do not pull full history.\n7. Return this contract:\nDOMAIN: ACCOUNTING\nDATE_SCOPE: <date_or_period>\nFACTS:\n- ...\nDATA_GAPS:\n- ...\nRECOMMENDED_ACTIONS:\n- ..."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -1888,
        3120
      ],
      "id": "1deebcf2-39e4-4f19-b212-32a3651f4e6d",
      "name": "Accounting Manager"
    },
    {
      "parameters": {
        "chatId": "={{ $json.chatId }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -512,
        2784
      ],
      "id": "c1b176ba-1d1b-460f-a6f3-d693d763290e",
      "name": "Send a text message",
      "webhookId": "e8a95fb7-f5bd-46fe-94aa-40316b4a2fdb",
      "credentials": {
        "telegramApi": {
          "id": "XVpI5xS61NVUsqcw",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Използвай този инструмент винаги, когато потребителят попита за времето, температурата или прогнозата за Банско.",
        "url": "https://api.openweathermap.org/data/2.5/weather",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openWeatherMapApi",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "Bansko,BG"
            },
            {
              "name": "lang",
              "value": "bg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        -3136,
        2880
      ],
      "id": "cdec466c-1323-4f63-aed2-f4544ff25a49",
      "name": "get_weather",
      "credentials": {
        "openWeatherMapApi": {
          "id": "0OOtCJWQi7D8ommQ",
          "name": "OpenWeatherMap account 2"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Operational F&B facts for breakfast covers, inventory, food cost range, and shortage-related actions.",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the hotel F&B Operations Manager.\n\nAVAILABLE SOURCES:\n- Forecast_Tool: bed nights and demand by date.\n- tool_hotel_inventory: inventory facts.\n- tool_hotel_payments: supplier-payment context if needed.\n\nRULES:\n1. Use 2.00-3.00 EUR per person only as a planning range, never as an asserted fact.\n2. If inventory data is missing, return DATA_GAP.\n3. Do not use HTML.\n4. Return this contract:\nDOMAIN: FNB\nDATE_SCOPE: <date_or_period>\nFACTS:\n- ...\nDATA_GAPS:\n- ...\nRECOMMENDED_ACTIONS:\n- ...",
          "maxIterations": 6
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -1584,
        3120
      ],
      "id": "c319642c-905e-4241-a753-81d44a32a2d0",
      "name": "F&B Manager"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "id-1",
              "leftValue": "={{ $json.message.voice }}",
              "operator": {
                "type": "object",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3caa0478-7abb-49ba-baa5-008305bff06b",
      "name": "Check Message Type",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4048,
        2432
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "951010ab-1a20-4d65-af11-1c09332b3c5e",
      "name": "Download Voice File",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3600,
        2432
      ],
      "webhookId": "dace00e0-3b5c-4aea-87bf-a6abbbeec6e4",
      "credentials": {
        "telegramApi": {
          "id": "XVpI5xS61NVUsqcw",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "fd4ec31c-2c40-416e-bf99-b0b090575b84",
      "name": "Transcribe Voice to Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -3328,
        2448
      ],
      "credentials": {
        "openAiApi": {
          "id": "4x9Kl6G0CByBvK7k",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "chatInput",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sessionId",
              "value": "={{ $('Telegram Trigger1').item.json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "934718ea-f359-4784-bf8a-9317ad4161c4",
      "name": "Prepare Transcribed Text",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3072,
        2464
      ]
    },
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "id": "6b978b79-6897-4695-bf9f-7192274ee42d",
      "name": "Telegram Trigger1",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -4640,
        2272
      ],
      "webhookId": "2a018836-b336-4cb6-a202-83204567bdd9",
      "notesInFlow": false,
      "executeOnce": false,
      "credentials": {
        "telegramApi": {
          "id": "XVpI5xS61NVUsqcw",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "chatInput",
              "value": "={{ $json.message.text }}",
              "type": "string"
            },
            {
              "id": "id-2",
              "name": "sessionId",
              "value": "={{ $json.message.chat.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6720145c-a703-4d01-bcaf-7dfcac1e8811",
      "name": "Workflow Configuration1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -3600,
        2624
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11tLNM8Uf4B_y24oDfD0MuXY7PO8EpDoZQgwgcC3Zlrk",
          "mode": "list",
          "cachedResultName": "Инвентар",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11tLNM8Uf4B_y24oDfD0MuXY7PO8EpDoZQgwgcC3Zlrk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Inventory",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11tLNM8Uf4B_y24oDfD0MuXY7PO8EpDoZQgwgcC3Zlrk/edit#gid=0"
        },
        "options": {
          "range": "A1:G200"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1472,
        3728
      ],
      "id": "11814a20-6cb8-4dad-94b6-e25bc626e8a4",
      "name": "tool_hotel_inventory",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "008sYI13Jt5qQmo9",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Използвай за справки по ФАКТУРИ, разходни документи и плащания към доставчици.",
        "documentId": {
          "__rl": true,
          "value": "16hJSFzNAhKHUoTl_vSkpmfnJV8c-mamjIfZMqs8ZxGc",
          "mode": "list",
          "cachedResultName": "Разходи",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16hJSFzNAhKHUoTl_vSkpmfnJV8c-mamjIfZMqs8ZxGc/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/16hJSFzNAhKHUoTl_vSkpmfnJV8c-mamjIfZMqs8ZxGc/edit#gid=0"
        },
        "options": {
          "returnFirstMatch": false,
          "range": "A1:M30"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1664,
        3728
      ],
      "id": "927687f6-1d21-4861-b20b-90855cf68bd6",
      "name": "tool_hotel_expenses",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "008sYI13Jt5qQmo9",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1xwBhKHqhHrlw_sp2TYoeIhfmjstvKrI_HCoF2dpcc20",
          "mode": "list",
          "cachedResultName": "payments_report_21_Jan_2026_22_06_05Recep",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xwBhKHqhHrlw_sp2TYoeIhfmjstvKrI_HCoF2dpcc20/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 85098524,
          "mode": "list",
          "cachedResultName": "payments_report_21_Jan_2026_22_06_05",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1xwBhKHqhHrlw_sp2TYoeIhfmjstvKrI_HCoF2dpcc20/edit#gid=85098524"
        },
        "options": {
          "range": "A1:M30"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1840,
        3728
      ],
      "id": "83981b25-91dc-4ba6-a4e7-b13bf273a392",
      "name": "tool_hotel_payments",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "008sYI13Jt5qQmo9",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1PSQc5NDAn0eQu0ZFY9c6oHG483ed05tjZF8EteVCyMk",
          "mode": "list",
          "cachedResultName": "payments_report_21_Jan_2026_22_08_5Bar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PSQc5NDAn0eQu0ZFY9c6oHG483ed05tjZF8EteVCyMk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1788916701,
          "mode": "list",
          "cachedResultName": "payments_report_21_Jan_2026_22_08_5Bar",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PSQc5NDAn0eQu0ZFY9c6oHG483ed05tjZF8EteVCyMk/edit#gid=1788916701"
        },
        "options": {
          "range": "A1:M30"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1296,
        3728
      ],
      "id": "3ebe970b-d8c3-4e28-b0bd-527afefb6f88",
      "name": "tool_hotel_income_bar",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TgqPZCAlc2fnn5SG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "списък на целия персонал, длъжности, имена на служители, заплати и смени.",
        "documentId": {
          "__rl": true,
          "value": "1_RI9HZbtljtGW5pyQNxmAqB0MyV3shEOCf3J99etyjU",
          "mode": "list",
          "cachedResultName": "График / ЗАПЛАТИ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_RI9HZbtljtGW5pyQNxmAqB0MyV3shEOCf3J99etyjU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1867074493,
          "mode": "list",
          "cachedResultName": "ЗАПЛАТИ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_RI9HZbtljtGW5pyQNxmAqB0MyV3shEOCf3J99etyjU/edit#gid=1867074493"
        },
        "options": {
          "returnFirstMatch": false,
          "range": "A1:J100"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -2208,
        3728
      ],
      "id": "c88e2797-e09c-4c13-af9d-adda01022ae6",
      "name": "tool_hotel_personal_salary",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "008sYI13Jt5qQmo9",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1_RI9HZbtljtGW5pyQNxmAqB0MyV3shEOCf3J99etyjU",
          "mode": "list",
          "cachedResultName": "График / ЗАПЛАТИ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_RI9HZbtljtGW5pyQNxmAqB0MyV3shEOCf3J99etyjU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 161170609,
          "mode": "list",
          "cachedResultName": "График",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1_RI9HZbtljtGW5pyQNxmAqB0MyV3shEOCf3J99etyjU/edit#gid=161170609"
        },
        "options": {
          "returnFirstMatch": false,
          "range": "A1:AZ60"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -2032,
        3728
      ],
      "id": "02a326e0-a9c7-4c37-94fd-c92485cf2ec7",
      "name": "tool_hotel_personal_schedule",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TgqPZCAlc2fnn5SG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "o4-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2896,
        3584
      ],
      "id": "6de99f5d-e0e8-413d-9a65-0a4a4c59b155",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "E4AW17NZjMCdeyMA",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "=`IDENTITY\nYou are Hotel General Manager Orchestrator V9 for a hotel in Bansko. You act as the operational coordination layer between specialist managers and the final Telegram response.\n\nCURRENT CONTEXT\nLocation: Bansko, Bulgaria\nToday: ${$now.setZone('Europe/Sofia').toFormat('dd.MM.yyyy')}\nCurrent time: ${$now.setZone('Europe/Sofia').toFormat('HH:mm')}\nDay of week: ${$now.setZone('Europe/Sofia').toFormat('cccc')}\n\nCORE ROLE\n1. Recognize the business topic.\n2. Call only relevant connected managers.\n3. Synthesize facts into a concise management answer.\n4. If data is missing, say so clearly and do not invent.\n5. When useful, add short ACTIONS or NEXT STEPS.\n\nCONNECTED MANAGERS\n- Front Office Manager: occupancy, ADR, RevPAR, free rooms, reservations, reception.\n- Accounting Manager: expenses, payments, invoices, bar revenue. IMPORTANT: Call this manager ONLY when the user explicitly asks about finances, expenses, invoices, or payments. Do NOT call for general status or morning brief — include DATA_GAP for FINANCE section instead.\n- HR Manager: schedules, shifts, attendance, compensation, staffing vs occupancy risk.\n- F&B Manager: breakfast covers, inventory, food cost range. Call ONLY when user explicitly asks about food, breakfast, inventory, or F&B. Do NOT call for general status or morning brief.\n- Marketing Manager: NEVER call for general status or morning brief. Only when user explicitly asks about marketing, reviews, or campaigns.\n- Housekeeping Manager: room occupancy status and linen requirements for a single date only. Call ONLY when user explicitly asks about housekeeping, rooms status, or linen. Do NOT call for general status or morning brief.\n- Forecast_Aggregated_Tool: use ONLY for period queries spanning more than 1 day. Always prefer this over Forecast_Tool for multi-day ranges.\n- get_weather: only for weather in Bansko.\n\nADMIN REFERENCE\n- Primary user-facing products are GM MORNING BRIEF and EXCEPTION REPORT.\n- Current live data layer is mostly Google Sheets, so do not present the system as a PMS source of truth.\n- For single-date occupancy queries use Forecast_Tool. For date ranges (e.g. \"this week\", \"this month\") use Forecast_Aggregated_Tool.\n- Marketing live review and live campaign ROI sources are not connected.\n- If connected data is missing, surface DATA GAPS clearly instead of guessing.\n- Observability sink may be absent if no valid log destination is configured. Do not mention internal infrastructure unless the user asks.\n\nDELEGATION RULES\n- For a single-topic request, call only one manager.\n- For GM MORNING BRIEF or general status (\"full status\", \"what matters today\", \"daily brief\"): call ONLY Front Office Manager + HR Manager. All other managers only on explicit user request.\n- For a multi-topic request outside morning brief, call all relevant managers in one answer.\n- Do not ask unnecessary clarification questions if you can calculate the date or period.\n- Translate relative time like today, tomorrow, or next week into an exact dd.MM.yyyy date before using tools.\n- If a manager returns DATA_GAP, surface it clearly in the final answer.\n\nSPECIAL MODES\n- GM MORNING BRIEF is a primary product. Use it by default when the user asks for a morning brief, daily brief, operational summary, or asks \"what matters today\".\n- EXCEPTION REPORT is a primary product. Use it by default when the user asks for problems, risks, alerts, anomalies, or deviations.\n\nGM MORNING BRIEF FORMAT\n- Title: <b>GM MORNING BRIEF</b>\n- Section 1: <b>COMMERCIAL</b>\n  Include occupancy, ADR, RevPAR, arrivals, departures, and any reservation pressure signals for the requested date or for today.\n- Section 2: <b>OPERATIONS</b>\n  Include reception pressure and the most relevant staffing note if available. Skip OOS/housekeeping unless explicitly asked.\n- Section 3: <b>FINANCE</b>\n  Skip this section entirely. Do not call Accounting Manager. Write: DATA_GAP — финансови данни се зареждат при изрична заявка.\n- Section 4: <b>DATA GAPS</b>\n  Include only if required.\n- Section 5: <b>ACTIONS BEFORE NOON</b>\n  Include the 1 to 3 highest-value actions.\n\nEXCEPTION REPORT FORMAT\n- Title: <b>EXCEPTION REPORT</b>\n- Rank issues by operational severity.\n- Each issue must include:\n  1. what is wrong\n  2. likely business impact\n  3. immediate next action\n- If no confirmed exception exists, say that no confirmed exception is visible in the connected data.\n\nOUTPUT STYLE\n- Reply in Bulgarian.\n- Use Telegram HTML only: <b>, <i>, <u>.\n- Do not use Markdown.\n- Use short sections separated by blank lines.\n- Highlight only important numbers and decisions.\n\nFINAL ANSWER SHAPE\n<b>...</b>\n- fact\n- fact\n\n<b>DATA GAPS</b>\n- ...\n\n<b>ACTIONS</b>\n- ...\n\nIf there are no data gaps, omit that section. If there are no actions, end with a short management conclusion.`"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -2240,
        2688
      ],
      "id": "57f5dac5-3f75-483c-b6dd-e2f02dc60b36",
      "name": "Hotel Manager"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "gpt-4o"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -3488,
        2896
      ],
      "id": "00d37fff-e294-4c4c-83b1-7a601fa0efec",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "H4DBPZwrqpTxYEqG",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "builtInTools": {},
        "options": {
          "frequencyPenalty": 0
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -2160,
        1920
      ],
      "id": "6bbeee11-df5a-480d-afe2-d10266b5adf9",
      "name": "OpenAI Chat Model2",
      "credentials": {
        "openAiApi": {
          "id": "H4DBPZwrqpTxYEqG",
          "name": "OpenAi account 4"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        -3440,
        3088
      ],
      "id": "34da56b1-c938-42cf-9f4b-ba7e0ca644d8",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "chatId": "425406605",
        "text": "A processing error occurred. Please try again or review the input data.",
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -3216,
        3088
      ],
      "id": "b3442666-1d1b-418b-982a-cbaa9328f43f",
      "name": "Send Error Notification",
      "webhookId": "0f099a05-1dde-4115-8f00-ae06032a8012",
      "credentials": {
        "telegramApi": {
          "id": "XVpI5xS61NVUsqcw",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "ЗАДЪЛЖИТЕЛЕН за справки. ИЗПОЛЗВАЙ ФИЛТЪР по колона 'По дата' (ТОЧЕН ФОРМАТ dd.MM.yyyy, например 07.03.2026), за да извлечеш точния ред. Съдържа: ADR, RevPAR, Заетост, Леглодни.",
        "documentId": {
          "__rl": true,
          "value": "1Vs3dyukStJf1W4-_luRNQPngx7f-9qqK1GieQius9U0",
          "mode": "list",
          "cachedResultName": "Forecast_Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vs3dyukStJf1W4-_luRNQPngx7f-9qqK1GieQius9U0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 969520691,
          "mode": "list",
          "cachedResultName": "Интеграция на Excel за прогнозна заетост",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vs3dyukStJf1W4-_luRNQPngx7f-9qqK1GieQius9U0/edit#gid=969520691"
        },
        "options": {
          "returnFirstMatch": false,
          "range": "A1:M400"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -2672,
        3728
      ],
      "id": "056d31c5-faba-4d1d-99b2-339d8e6d3192",
      "name": "Forecast_Tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TgqPZCAlc2fnn5SG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "=chat_history {{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1,
      "position": [
        -3312,
        2896
      ],
      "id": "8ade0653-d4d9-4679-9fb0-fe7763755f70",
      "name": "Redis Chat Memory",
      "credentials": {
        "redis": {
          "id": "Yau2G472wufz4FCh",
          "name": "Redis account 2"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "ЗАДЪЛЖИТЕЛЕН за справки. ИЗПОЛЗВАЙ ФИЛТЪР по колона 'По дата' (ТОЧЕН ФОРМАТ dd.MM.yyyy, например 07.03.2026), за да извлечеш точния ред. Съдържа: Име,\tПериод,\tНастаняване,\tИзхранване,\tБрой гости,\tОбща сума,\tИмейл,\tТелефон и Бележки",
        "documentId": {
          "__rl": true,
          "value": "1EVylj4JZSJTlOi0b4oVWgetsXuWs13WhxJh88IJfwi4",
          "mode": "list",
          "cachedResultName": "Reservations",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EVylj4JZSJTlOi0b4oVWgetsXuWs13WhxJh88IJfwi4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1085273564,
          "mode": "list",
          "cachedResultName": "New",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1EVylj4JZSJTlOi0b4oVWgetsXuWs13WhxJh88IJfwi4/edit#gid=1085273564"
        },
        "options": {
          "range": "A1:K100"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -2512,
        3728
      ],
      "id": "6005d678-6a93-4464-b48f-f0d2282e1725",
      "name": "reservations_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TgqPZCAlc2fnn5SG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "ЗАДЪЛЖИТЕЛЕН за справки. ИЗПОЛЗВАЙ ФИЛТЪР по колона 'По дата' (ТОЧЕН ФОРМАТ dd.MM.yyyy, например 07.03.2026), за да извлечеш точния ред. Съдържа: Номер,\tГост,\tЧас на заминаване,\tСтая,\tПрестой,\tКомпания / Мероприятие/ Агент,\tБаланс,\tdescription.",
        "documentId": {
          "__rl": true,
          "value": "1Ef_eAOga0x8-JFkqiuEqwRyN6xm8JRnn_mk4xkKbRBw",
          "mode": "list",
          "cachedResultName": "reception",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ef_eAOga0x8-JFkqiuEqwRyN6xm8JRnn_mk4xkKbRBw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ef_eAOga0x8-JFkqiuEqwRyN6xm8JRnn_mk4xkKbRBw/edit#gid=0"
        },
        "options": {
          "range": "A1:K100"
        }
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -2368,
        3728
      ],
      "id": "93193a6b-bcf3-460a-a3cb-0932cddb7cfb",
      "name": "reception_tool",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TgqPZCAlc2fnn5SG",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const output = $input.first().json.output || '';\n\n// Support both interactive (Telegram) and scheduled paths\nconst chatId = (() => {\n  try { const id = $('Telegram Trigger1').first().json.message.chat.id; if (id) return id; } catch(e) {}\n  try { const id = $('Morning Report Config').first().json.chatId; if (id) return id; } catch(e) {}\n  try { const id = $('Night Audit Config').first().json.chatId; if (id) return id; } catch(e) {}\n  return 425406605; // fallback to primary admin\n})();\n\nconst clean = output.replace(/<br\\s*\\/?>/gi, '\\n').replace(/\\r/g, '');\nconst MAX = 4096;\n\nfunction closeOpenTags(text) {\n  const openTags = [];\n  const regex = /<\\/?([biu])>/gi;\n  let match;\n  while ((match = regex.exec(text)) !== null) {\n    const full = match[0];\n    const tag = match[1].toLowerCase();\n    if (full[1] === '/') {\n      const index = openTags.lastIndexOf(tag);\n      if (index !== -1) openTags.splice(index, 1);\n    } else {\n      openTags.push(tag);\n    }\n  }\n  return {\n    prefix: openTags.map((tag) => `<${tag}>`).join(''),\n    suffix: [...openTags].reverse().map((tag) => `</${tag}>`).join(''),\n  };\n}\n\nfunction splitText(text) {\n  const chunks = [];\n  let remaining = text.trim();\n  while (remaining.length > MAX) {\n    let cut = remaining.lastIndexOf('\\n\\n', MAX);\n    if (cut < MAX * 0.5) cut = remaining.lastIndexOf('\\n', MAX);\n    if (cut < MAX * 0.5) cut = remaining.lastIndexOf(' ', MAX);\n    if (cut < MAX * 0.5) cut = MAX;\n\n    let piece = remaining.slice(0, cut).trim();\n    const tags = closeOpenTags(piece);\n    piece += tags.suffix;\n    chunks.push(piece);\n    remaining = (tags.prefix + remaining.slice(cut)).trim();\n  }\n  if (remaining) chunks.push(remaining);\n  return chunks;\n}\n\nreturn splitText(clean).map((text) => ({ json: { text, chatId } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -960,
        2672
      ],
      "id": "split-long-msg-v7-001",
      "name": "Split Long Message"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "whitelist-check-v9",
              "leftValue": "={{ [425406605].includes(Number($json.message.from.id)) }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": false,
        "options": {}
      },
      "id": "access-control-v8-001",
      "name": "Access Control",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -4272,
        2560
      ],
      "notes": "V9 SECURITY: Exact whitelist. To add users: [425406605, NEW_USER_ID]. Uses message.from.id (user), not chat.id (chat)."
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "⛔ Нямате достъп до тази система.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "unauthorized-msg-v8-001",
      "name": "Unauthorized Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -4048,
        2672
      ],
      "webhookId": "access-denied-v8-001",
      "credentials": {
        "telegramApi": {
          "id": "XVpI5xS61NVUsqcw",
          "name": "Telegram account 4"
        }
      }
    },
    {
      "parameters": {
        "toolDescription": "Use for housekeeping status: occupied rooms, bed nights, linen requirements, OOS rooms. Single date queries only. Never use for multi-day periods.",
        "text": "={{ $json.chatInput }}",
        "options": {
          "systemMessage": "You are the hotel Housekeeping Manager.\n\nAVAILABLE SOURCES:\n- Forecast_Tool: occupancy, bed nights, and OOS rooms by exact date.\n\nCRITICAL — DATA EXTRACTION ONLY, NEVER CALCULATE:\nExtract ONLY these raw numbers from Forecast_Tool:\n- occupied_rooms: number of occupied rooms\n- bed_nights: total bed nights (леглодни)\n- oos_rooms: out-of-service rooms (0 if not available)\n\nDo NOT calculate linen quantities. Do NOT multiply or add numbers. Return only the raw extracted numbers. The system calculates automatically.\n\nRULES:\n1. Always use exact date format: dd.MM.yyyy\n2. Never invent numbers. Never perform arithmetic.\n3. If data is missing for the date, return DATA_GAP.\n4. Do not use HTML.\n5. Return this contract:\nDOMAIN: HOUSEKEEPING\nDATE_SCOPE: <exact_date>\nFACTS:\n- occupied_rooms: <number>\n- bed_nights: <number>\n- oos_rooms: <number>\nDATA_GAPS:\n- ...\nRECOMMENDED_ACTIONS:\n- ..."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agentTool",
      "typeVersion": 3,
      "position": [
        -1600,
        3120
      ],
      "id": "ba4586cd-1015-4e4a-a826-9be5adcb4273",
      "name": "Housekeeping Manager"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use for PERIOD queries spanning more than 1 day (e.g. 'this week', 'this month', date ranges). Pass start and end dates in 'DD MMM YYYY' format. Returns: total_accruals (BGN), avg_occupancy (%), avg_adr (BGN), total_nights, days_count, oos_count. Always prefer over Forecast_Tool for multi-day ranges.",
        "method": "GET",
        "url": "={{ $env.AGGREGATOR_WEB_APP_URL }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "start",
              "value": "={{ $fromAI('start_date', 'Period start date in DD MMM YYYY format, example: 01 Mar 2026') }}"
            },
            {
              "name": "end",
              "value": "={{ $fromAI('end_date', 'Period end date in DD MMM YYYY format, example: 31 Mar 2026') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.2,
      "position": [
        -2672,
        3920
      ],
      "id": "a1b2c3d4-e5f6-7890-abcd-forecast001ag",
      "name": "Forecast_Aggregated_Tool"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 7 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -4640,
        3280
      ],
      "id": "68c47d1a-75b1-48a8-a12d-7c0543e10577",
      "name": "Morning Report Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "mr-1",
              "name": "chatInput",
              "value": "Пълен статус за днес — сутрешен брифинг",
              "type": "string"
            },
            {
              "id": "mr-2",
              "name": "sessionId",
              "value": "={{ 'morning-' + $now.setZone('Europe/Sofia').toFormat('dd-MM-yyyy') }}",
              "type": "string"
            },
            {
              "id": "mr-3",
              "name": "chatId",
              "value": 425406605,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4320,
        3280
      ],
      "id": "0a85756a-fd49-4ff4-8746-4c44ad3c07bc",
      "name": "Morning Report Config"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 21 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -4640,
        3480
      ],
      "id": "782b7e8f-28e3-4437-8f99-98e79433cb7d",
      "name": "Night Audit Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "na-1",
              "name": "chatInput",
              "value": "Нощен одит — ключови показатели за днес",
              "type": "string"
            },
            {
              "id": "na-2",
              "name": "sessionId",
              "value": "={{ 'night-audit-' + $now.setZone('Europe/Sofia').toFormat('dd-MM-yyyy') }}",
              "type": "string"
            },
            {
              "id": "na-3",
              "name": "chatId",
              "value": 425406605,
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -4320,
        3480
      ],
      "id": "33044bce-7806-435d-8c3d-37e03e24a812",
      "name": "Night Audit Config"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1Vs3dyukStJf1W4-_luRNQPngx7f-9qqK1GieQius9U0",
          "mode": "list",
          "cachedResultName": "Forecast_Pricing",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vs3dyukStJf1W4-_luRNQPngx7f-9qqK1GieQius9U0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1244295117,
          "mode": "list",
          "cachedResultName": "Logs",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Vs3dyukStJf1W4-_luRNQPngx7f-9qqK1GieQius9U0/edit#gid=1244295117"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "output": "={{ $now.setZone('Europe/Sofia').toISO() }}",
            "ok": "={{ $input.first().json.chatId || 'scheduled' }}",
            "result": "={{ ($input.first().json.chatInput || '').substring(0, 200) }}",
            "ResponseLength": "={{ ($input.first().json.output || '').length }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "output",
              "displayName": "output",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ok",
              "displayName": "ok",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false
            },
            {
              "id": "ResponseLength",
              "displayName": "ResponseLength",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b3870832-97f2-44b9-84c1-7875f21587a0",
      "name": "Audit Log",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -256,
        2944
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TgqPZCAlc2fnn5SG",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {
    "Error Trigger": [
      {
        "json": {
          "execution": {
            "id": "3770",
            "url": "https://beway.app.n8n.cloud/workflow/tFWiP6guNncBliLB/executions/3770",
            "error": {
              "level": "warning",
              "tags": {},
              "description": "\n<p>Try either:</p>\n<ol>\n  <li>Enabling 'Convert types where required'</li>\n  <li>Converting the second field to a number by adding <code>.toNumber()</code></li>\n</ol>\n\t\t\t",
              "timestamp": 1773611122501,
              "context": {
                "itemIndex": 0
              },
              "functionality": "regular",
              "name": "NodeOperationError",
              "node": {
                "parameters": {
                  "conditions": {
                    "options": {
                      "caseSensitive": true,
                      "leftValue": "",
                      "typeValidation": "strict",
                      "version": 2
                    },
                    "conditions": [
                      {
                        "id": "auth-check-v8",
                        "leftValue": "={{ $json.message.chat.id }}",
                        "rightValue": "",
                        "operator": {
                          "type": "number",
                          "operation": "exists"
                        }
                      }
                    ],
                    "combinator": "and"
                  },
                  "looseTypeValidation": false,
                  "options": {}
                },
                "id": "access-control-v8-001",
                "name": "Access Control",
                "type": "n8n-nodes-base.if",
                "typeVersion": 2.2,
                "position": [
                  -4272,
                  2560
                ],
                "notes": "CONFIGURE: Replace the condition with a whitelist.\nExample: {{ [123456789, 987654321].includes($json.message.chat.id) }}\nAdd your authorized Telegram chat IDs.\nDefault: allows all valid messages."
              },
              "messages": [],
              "message": "Wrong type: '' is a string but was expecting a number [condition 0, item 0]",
              "stack": "NodeOperationError: Wrong type: '' is a string but was expecting a number [condition 0, item 0]\n    at extractValue (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/utils/extract-value.ts:211:9)\n    at ExecuteContext._getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/node-execution-context.ts:499:29)\n    at ExecuteContext.getNodeParameter (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/node-execution-context/execute-context.ts:134:9)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V2/IfV2.node.ts:96:18\n    at Array.forEach (<anonymous>)\n    at ExecuteContext.execute (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-nodes-base@file+packages+nodes-base_@aws-sdk+credential-providers@3.808.0_asn1.js@5_8da18263ca0574b0db58d4fefd8173ce/node_modules/n8n-nodes-base/nodes/If/V2/IfV2.node.ts:88:23)\n    at WorkflowExecute.executeNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1043:31)\n    at WorkflowExecute.runNode (/usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1222:22)\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:1659:38\n    at /usr/local/lib/node_modules/n8n/node_modules/.pnpm/n8n-core@file+packages+core_@opentelemetry+api@1.9.0_@opentelemetry+exporter-trace-otlp_9f358c3eeaef0d2736f54ac9757ada43/node_modules/n8n-core/src/execution-engine/workflow-execute.ts:2302:11"
            },
            "lastNodeExecuted": "Access Control",
            "mode": "webhook",
            "executionContext": {
              "version": 1,
              "establishedAt": 1773611122500,
              "source": "webhook",
              "triggerNode": {
                "name": "Telegram Trigger1",
                "type": "n8n-nodes-base.telegramTrigger"
              }
            }
          },
          "workflow": {
            "id": "tFWiP6guNncBliLB",
            "name": "Hotel General Manager Multi V8"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Marketing Manager": {
      "ai_tool": [
        [
          {
            "node": "Hotel Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Front Office Manager": {
      "ai_tool": [
        [
          {
            "node": "Hotel Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "HR Manager": {
      "ai_tool": [
        [
          {
            "node": "Hotel Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Accounting Manager": {
      "ai_tool": [
        [
          {
            "node": "Hotel Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "get_weather": {
      "ai_tool": [
        [
          {
            "node": "Hotel Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "F&B Manager": {
      "ai_tool": [
        [
          {
            "node": "Hotel Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Check Message Type": {
      "main": [
        [
          {
            "node": "Download Voice File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Workflow Configuration1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Voice File": {
      "main": [
        [
          {
            "node": "Transcribe Voice to Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Voice to Text": {
      "main": [
        [
          {
            "node": "Prepare Transcribed Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger1": {
      "main": [
        [
          {
            "node": "Access Control",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration1": {
      "main": [
        [
          {
            "node": "Hotel Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Transcribed Text": {
      "main": [
        [
          {
            "node": "Hotel Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "tool_hotel_inventory": {
      "ai_tool": [
        [
          {
            "node": "F&B Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_hotel_expenses": {
      "ai_tool": [
        [
          {
            "node": "Accounting Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_hotel_payments": {
      "ai_tool": [
        [
          {
            "node": "Accounting Manager",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "F&B Manager",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Front Office Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_hotel_income_bar": {
      "ai_tool": [
        [
          {
            "node": "Accounting Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_hotel_personal_salary": {
      "ai_tool": [
        [
          {
            "node": "HR Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "tool_hotel_personal_schedule": {
      "ai_tool": [
        [
          {
            "node": "HR Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Front Office Manager",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Accounting Manager",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "HR Manager",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "F&B Manager",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Marketing Manager",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Housekeeping Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Hotel Manager": {
      "main": [
        [
          {
            "node": "Split Long Message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Audit Log",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Long Message": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Hotel Manager",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model2": {
      "ai_languageModel": [
        []
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Forecast_Tool": {
      "ai_tool": [
        [
          {
            "node": "Front Office Manager",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "F&B Manager",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Marketing Manager",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "HR Manager",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Housekeeping Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Redis Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Hotel Manager",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "reservations_tool": {
      "ai_tool": [
        [
          {
            "node": "Front Office Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "reception_tool": {
      "ai_tool": [
        [
          {
            "node": "Front Office Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Access Control": {
      "main": [
        [
          {
            "node": "Check Message Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Housekeeping Manager": {
      "ai_tool": [
        [
          {
            "node": "Hotel Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Forecast_Aggregated_Tool": {
      "ai_tool": [
        [
          {
            "node": "Front Office Manager",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Housekeeping Manager",
            "type": "ai_tool",
            "index": 0
          },
          {
            "node": "Hotel Manager",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Morning Report Trigger": {
      "main": [
        [
          {
            "node": "Morning Report Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Morning Report Config": {
      "main": [
        [
          {
            "node": "Hotel Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Night Audit Trigger": {
      "main": [
        [
          {
            "node": "Night Audit Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Night Audit Config": {
      "main": [
        [
          {
            "node": "Hotel Manager",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "f3a7b2c1-d8e9-4f5a-b1c2-d3e4f5a6b7c9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c80d7e0c09cada4d959f583f9d2dc4a6f5f1d4b05b051a2f5e4a563803db598b"
  },
  "id": "tFWiP6guNncBliLB",
  "tags": []
}